@use "../utils" as *;

.Profile {
    flex: 0 1 auto;
    position: sticky;
    z-index: 2;
    top: 0;

    .Card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        overflow: hidden;

        .profile-img {
            width: 150px;
            height: 150px;
            clip-path: circle(36.4% at 42% 40%);
            overflow: hidden;
            display: block;
            margin-top: 2em;
        }

    }

    ul {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        user-select: none;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media only screen and (max-width: $viewport-mobile) {
    .Profile {
        flex: 0 1 auto;
        width: 100%;
        position: relative;

        .Card {
            max-width: 100%;
            padding-bottom: 2em;

        }
    }
}