$black: #2B2B2B;
$white: #FFFFFF;
$grey: #B4B4B8;

$primary: #43D3BA;
$primary-light: #D0EBED;

$font-size: 16px;

@mixin custom-boxshadown() {
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}