@use "reset" as *;
@use "fonts" as *;
@use "utils" as *;
@use "components/Card.scss" as *;
@use "components/Profile.scss" as *;
@use "components/MenuBar.scss" as *;
@use "components/Home.scss" as *;
@use "components/Breadcrumb.scss" as *;

:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: $white;
    background-color: $black;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    overflow-y: scroll;
}

@media (prefers-color-scheme: light) {
    :root {
        color: $black;
        background-color: $white;
    }
}

#root {
    width: 100vw;
    height: 100vh;
    max-width: $viewport-desktop;
    font-size: $font-size;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-top: 2em;
    gap: 1rem;

    .PrincipalPage {
        flex: 1 1 auto;
        max-width: 800px;
        position: relative;
        z-index: 2;
    }
}

.title {
    border-bottom: 1px solid $black;
    margin: 1em 0;
    line-height: 1.8;
    text-transform: uppercase;
}

@media only screen and (max-width: $viewport-mobile) {
    #root {
        flex-direction: column;
        align-items: center;
        justify-content: baseline;

        .PrincipalPage {
            flex: 1 0 auto;
            width: 100%;
        }
    }
}